body {
  padding: 3rem
}

.container {
  margin: auto;
  padding: 4rem;
  height: 100%;
  width: fit-content;
  background-color: whitesmoke;
  border-radius: 1rem;
}

button {
  all: unset;
  width: fit-content;
  align-self: end;
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 1rem;
}

button:not(:last-child){
  margin-right: 1rem;
}

.delete-btn {
  position:absolute;
  visibility:hidden
}

message-form, .message-board {
  color: rgb(0, 65, 117);
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.message-form,
.message-card,
.signup-fom,
.login-form {
  display: flex;
  min-width: 300px;
  flex-flow: column nowrap;
  background-color: white;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 1em;
}

.message-board{
  padding: 3rem;
  margin: 3rem auto;
  border: 4px solid aliceblue;
  border-radius: 2rem;
  background-color: lightblue;
}

.input-area {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.message-card > p, h3 {
  margin: 0
}
#date {
  font-size: 10px;
}

.delete-form {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  padding: 1.5rem;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  z-index: 3;
  box-shadow: 1px 1px 5px 1px rgba(72, 72, 72, 0.3);
}
.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.active {
  display: flex
}

btn-active {
  display:block
}