body {
  padding: 3rem
}

.container {
  margin: auto;
  padding: 4rem;
  height: 100%;
  width: fit-content;
  background-color: whitesmoke;
  border-radius: 1rem;
}

message-form, .message-board {
  color: rgb(0, 65, 117);
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.message-form,
.message-card,
.signup-fom,
.login-form {
  display: flex;
  min-width: 300px;
  flex-flow: column nowrap;
  background-color: white;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 1em;
}

.input-area {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.message-card > p, h3 {
  margin: 0
}
#date {
  font-size: 10px;
}