extends layout

block content
  h1 #{title}

  form(class='message-form', method='POST', action='')
    div.input-area
      input.form-input(type='text', name='name', placeholder="name", value=data.name)
      input.form-input(type='text', name='message', placeholder="message", value=data.message)
    button(class="submit-btn", type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg