extends layout 

block content
  a(href="/new") create new message
  div(class="message-board")
    h1= title
    
    each message in messages    
      div(class="message-card")
        p#date #{message.date_formatted}
        h3 #{message.name}
        p #{message.message}
    else
      p There are no messages.